<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.2"> </script>
    <script src="/node_modules/p5/lib/p5.js"></script>
    <script src="/node_modules/ejs/ejs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./views/skate.js'></script>
</head>

<body>

   
</body>

</html>